# Created by https://www.gitignore.io

### Haskell ###
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.prof
*.aux
*.hp

testsources/main_io_read
testsources/main_ooo_read
testsources/smallest
*.ll
*.dSYM
testdata
bycolbyrow
byrowbyrow
bycolbycol
byrowbycol
objects
sane
